<p class="section_text">
	I'm a recent graduate from UC Berkeley with a B.S. in Chemical Engineering. <br/>
	My degree concentration is Materials Science & Technology, and I've spent a few years exploring the synthesis, chemistry, and characterization of zinc-air batteries at the university.
	<br/><br/>
	One of my many passions is web development, with over four years of professional full stack web development.
	From both scratch and continued development, I've constructed multiple MVC database-backed web and software projects through Ruby object-oriented development, incorporating modern web frameworks - Rails, jQuery, jQuery Mobile, and Bootstrap. I've developed the interfaces through HTML5, CSS3, and JavaScript for responsive and mobile platforms. Additionally, I've implemented multiple RESTful APIs for third-party services, such as cloud storage.
	<br/>
</p>

<button class="btn_resume">Download Resume</button>

