<div class="row contact">
	<div class="col-xs-1"></div>
	<div class="col-xs-4">
		<p class="contact_header">Location</p>
		<p class="contact_info">Riverbank, California</p>
	</div>
	<div class="col-xs-4">
		<p class="contact_header">Email</p>
		<p class="contact_info">cching@berkeley.edu</p>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-1">
		<%= link_to "https://github.com/cching/bio", target: :_blank do %>
			<%= image_tag("github.svg", class: "icon") %>
		<% end %>
	</div>

	<div class="col-xs-1">
		<%= link_to "https://www.linkedin.com/in/christopher-ching-57202a106", target: :_blank do %>
			<%= image_tag("linkedin.png", class: "icon") %>
		<% end %>
	</div>
</div>