<p class="section_text">
	Additionally, I've incorporated Drive REST API to create interfaces for general file storage, management, and manipulation to host clients', schools', and students' data.
	<br/>
</p>

<div class="row">
	<div class="col-lg-4">
		<div class="log_container">
			<% file_checkbox_items.each_with_index do |item, i| %>
				<input type="checkbox" id="file_checkbox_<%= i %>" disabled/>
	     		<label for="file_checkbox_<%= i %>"><%= item.html_safe %></label><br/>
			<% end %>
		</div>
	</div>
	<div class="col-lg-8" id="doc_container">
		<div class="file_load_container">
			<div class="loader"></div>
		</div>
	</div>
</div> 