<% if @file.file_name? %>
	$("#file_checkbox_1").prop('checked', true);
<% end %>
// Check the 3rd checkbox if the image has been composited

<% if @file.composited? %>
	$("#file_checkbox_2").prop('checked', true);
<% end %>
// Check the 4th checkbox if the image has been uploaded

<% if @file.completed? %>
	$("#file_checkbox_3").prop('checked', true);

	var doc = $("#doc_container");
	if (!doc.hasClass("completed")) {
		doc.append("<div class='wrap'></div>");
		doc.addClass("completed");
		$('.wrap').html("<iframe class='frame'src='<%= @file.human_url + '?widget=true&headers=false' %>'></iframe>").hide();

		setTimeout(
			function() { 
				$('.file_load_container').html("").css("padding", '0px 0px 0px 0px');
				// remove load spinner
				
				$(".wrap").show().addClass("animated fadeIn");
			}, 1000);
		// timeout function to let image load before displaying
	}
<% end %>
// Check last checkbox if job is done after cleanup

